<div class="row">
	<div class="col-xs-12 col-sm-4">
	{{ember-selectize
	  content=selectServices
	  selection=service
	  placeholder= "Selecciona Servicio"}}
	</div>
</div>


<div class="row">
	<div class="col-xs-12 dynamic-table-height">
	  {{dynamic-table modelo=model properties=properties actionDel="delete" actionNew="new" filteringIgnoreCase=true pagination=pagination createInline=true initOrder=initOrder tableStriped=true tableBordered=true tableCondensed=true showColumnsFilter=false useFilteringByColumns=true}}
	</div>
</div>
