.upload-files p{
	word-break:break-all !important;
	margin: 0 !important;
}

.upload-files td{
	vertical-align: middle !important;
	text-align: center;
}

.upload-files td img{
	display: inline-block;
	max-height: 60px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    padding: 10px;
    overflow: auto;
}

.nav-tabs {
    margin-bottom: 0;
}

.max-height{
    height: 100%;
    padding: 0 12px;
}

.margin-image-group{
    margin-right: 10px;
}